@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

header {
  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  gap: 24px; 
  padding: 70px 24px;

  background-image: url(../images/header-background.png);
  background-repeat: round;
}

header h1 {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  background-color: #FFFFFF;
  color: #23272A;

  border-radius: 28px;
  text-align: center;
  padding: 16px;
}

.button p {
  padding: auto;
}

.open-browser {
  background-color: #23272A;
  color: #FFFFFF;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 40px 24px;
  gap: 27px;
}

section img {
  max-width: 100%;
}

section h1 {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 400;
  color: #23272A;
  font-size: 2rem;
}

section h2 {
  font-weight: 800;
  color: #23272A;
}

.switch-color {
  background-color: #F6F6F6;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #23272A;
  padding: 24px;
}

